// Custom.scss

// Your variable overrides
$body-bg: lightblue;
$body-color: black;

$primary: teal;
$danger: red;

$links-color:#1e89e0;
$links-color2: white;


@import "node_modules/bootstrap/scss/bootstrap";