// SCSS Variables
$layout_bp_mobile: 200px;
$layout_bp_tablet: 767px;
$layout_bp_desktop: 1280px;

// SCSS Mixins
@mixin mobile {
  @media only screen and (min-width: #{$layout_bp_mobile}) and (max-width:#{$layout_bp_tablet}){
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$layout_bp_tablet}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$layout_bp_desktop}) {
    @content;
  }
}
