@import './custom';
@import './variables';
@import './responsive';


* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color:white;
  text-align: center;
}

.header {
  height: 80px;
  position: fixed;
  background-color: black;
  width: 100%;
  z-index: 20;
}

.main {
  margin-top:80px;
}

.row{
  margin: 0;
  padding: 0;
}


@include mobile{
  .nav__menu{
    display:none;
  }
  .nav__menu-mobile{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    font-size: 30px;
    padding: 0 20px;
    &-button{
      background-color: black;
      border:0;
      color: white;
    }
  }
  .product{
    display: flex;
    flex-direction:column;
    min-height: 600px; //no se ejecuta!!
    &__container-txt--width{
      width: 100%;
    }
  .product__container-txt--minheight{
    min-height: 550px;
  }
    }
   .border10{
     border:0;
   }
   .footer__copyright-1{
    border-bottom:0;
    margin-bottom: 15px;
   }
   .footer__copyright-2{
    display: flex;
    flex-direction: column-reverse;
  }
  .footer__submenu div{
    display:none;
  }
  .footer__submenu-mobile{
    width: 90%;
    margin-top: 20px;
    &-list{
      display:flex;
      width: 100%;
      padding:5px 0;
      list-style: none;
      justify-content: space-between;
      flex-direction: row;
      border-bottom: 1px solid grey;
    }
    &-button{
      border:0;
      background-color: lightgray;
    }
  }
}

@include tablet{
  .product__container-txt-width{
      width: 50%;
  }
  .nav__menu-mobile{
    display:none;
  }
  .footer__submenu-mobile{
    display:none;
  }
  .footer__copyright-1{
    border-bottom: 1px solid grey;
  }
}

@include desktop{
  .product__container-txt--width{
    width: 50%;
  }
}

.nav__menu{
      &-links{
        color: white;
        width: 80%;
        min-height: 80px;
        justify-content: space-between;
        align-items: center;
        display:inline-flex;
        list-style: none;
        padding: 0 10px;
      }
}

.container-txt-subnav{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &txt{
    text-align: center;
  }
}

.product{
  display:flex;
  justify-content: center;
  min-height: 600px;

  &__container-txt{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &--top{
      padding-top: 30px;
      justify-content: flex-start;
    }
    &--bottom{
      justify-content: flex-end;
      padding-bottom: 50px;
    }
  }
  &__tittle{
    padding-top: 20px;
  }

  &__links{
    margin: 0px 20px;
  }
  &__container-links{
    margin-top: 20px;
  }
  &__img{
    padding-top: 40px;
    width: 250px;
    height: 300px;
  }

  &__price{
    color:darkgray;
  }

  &__container-img{
    display: flex;
    justify-content: center;
  }
  &__subtittle-txt{
      margin-bottom: 0px;
  }
  &__subtittle-txt-red{
    color:red;
  }
  &__subtittle-txt-color{
    background: linear-gradient(to right,orange,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.product-top{
  justify-content: flex-start;
  min-height: 550px;
}

.footer__conditions{
  font-size: 12px;
  padding-top: 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  width: 100%;
  &-txt{
    width: 90%;
    border-bottom: 1px solid grey;
    & p{
      text-align: left;
    }
  }
}

.footer__submenu{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 10px;
  width: 90%;
  & ul{
    text-align: left;
    padding: 0;
    list-style: none;
  }
}

.footer__copyright{
  display:flex;
  text-align: left;
  width:90%;
  &-spanish-flag{
    width: 20px;
  }
  &-menu{
    justify-items: flex-start;
    &-list{
      display: inline-flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      & li{
        border-right: 1px solid grey;
        padding: 0 10px;
      }
    }
  }
  &-1{
    justify-items: flex-start;
  }
  &-2{
    justify-content: space-between;
  }
}

//general styles
.links-color{
  color: $links-color;
}
.links-color2{
  color: $links-color2;
}

.border-white{
  border:10px solid white;
}

.txt-strong{
  font-weight: bold;
}

//background styles
.bck{
  background-repeat: no-repeat;
  background-size:auto;
  background-position:center;
  background-position-y: bottom;
}
.bck1{
  background-color: black;
  background-image: url('https://www.k-tuin.com/media/wysiwyg/landing/iphone-se-2020/iphone-se-horizontal.png');
}

.bck2{
  background-color: white;
  background-image: url('https://i.blogs.es/0c1405/iphone1/450_1000.png');
}
.bck3{
  background-color: black;
  background-image: url('https://i.blogs.es/0c1405/iphone1/450_1000.png');
}
.bck4{
  background-color: black;
  background-image: url('https://i.blogs.es/18a622/defending-jacob-apple-tv/1366_2000.jpg');
}
.bck5{
  background-color: skyblue;
  background-image: url('https://5.imimg.com/data5/SE/HK/MY-13508457/apple-imac-laptop-and-desktop-500x500.png');
}
.bck6{
  background-color: red;
  background-image: url('https://i.blogs.es/9101f4/2560_3000/1366_2000.jpg');
}
.bckblack{
  background-color: black;
  color:white;
}

.bckwhite{
  background-color: white;
  color:black;
}

.bckbgrey{
  background-color: grey;
  color:white;
}

.bckblue{
  background-color: skyblue;
  color:white;
}


